// app global css

.tab-icon {
  background: white;
}

.tab-icon:hover {
  background: rgba(128, 128, 128, 0.18);
  cursor pointer;
}

.primary-color {
  background: #272643;
  color: white;
}

.selected-maker-tab {
  background: gray;
}

.make-nav-item:hover {
  cursor pointer;
}

.d-input {
  margin: 8px 0px;
  line-height: 34px;
  background: white !important;
  padding-left: 20px !important;
  color: #272643 !important;
  border: solid 1px #979797 !important;
  width: 100%;
}

.select-icon:hover {
  cursor: pointer;
  background: rgba(14, 73, 132, 0.12);
}

.selected-action-type-button {
  background: #FCE0B6 !important;
}

.action-type-button {

  width: 100px;
  height 80px;
  background: #F9F9F9;
  margin: 10px;
}

.tab-delete:hover {
  display: block !important;
  opacity: 1 !important;
}

.jexcel > tbody > tr > td > img {
  max-width: 100% !important;
}
